extends layout
block header
  link(rel="stylesheet" href="stylesheets/index.css")

block content
  .main
    .first
      .first-contents
        h1.display-1.text-light.main-title Scrims
        h3.text-light.text-muted.secondary-title Made simple
        hr
