body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {color: #00B7FF;}
a:hover{ text-decoration: none;}

.navbar{
  height: 5vh;
}

.main{
  width: 100%;
  height: 95vh;
  display: block;
  text-align: center;
}

.first{
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgb(30, 30, 40);
  display: grid;
  align-items: center;
  justify-content: center;
}