.first{ 
    align-items: initial!important; 
    padding-top: 1rem;
    height: auto!important;
}

.create-match {
    bottom: 5%;
    left: 5%;
    border-radius: 50%;
    position: fixed;
    z-index: 100;
    font-size: 4rem;
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    padding-bottom: 1rem;
    color: white;
} 

.match-div{
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 1rem;
    box-sizing: border-box;
    width: 40%;
    place-self: center;
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.5s;
}
.map-image{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}
.rank-required{ width: 60%; }